* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 8);
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.titulo {
    position: absolute;
    top: 15%;
    right: 12%;
    left: 12%;
}

.titulo fieldset {
    border-radius: 5px;
    padding: 5em 4em 5em 4em;
}

.titulo h1 {
    font-size: 4em;
    color: white;
}

.titulo button {
    padding: 1em 2em 1em 2em;
    margin: 1em 1em 0em 0em;
    border-radius: 5px;
    font-size: 1.3em;
    border: none;
    color: white;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

.titulo button:hover {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

.titulo button:active {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}


/*backroof*/

.backroof {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

.backroof h2 {
    margin: 1em;
    text-align: center;
}


/*whatsapp*/

#whatsapp {
    left: 8%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#whatsapp img {
    width: 7em;
    height: auto;
}


/*backroof*/


/*whatsapp*/


/*instagram*/

#instagram {
    left: 30%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#instagram img {
    width: 7em;
    height: auto;
}


/*instagram*/


/*facebook*/

#facebook {
    right: 30%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#facebook img {
    width: 7em;
    height: auto;
}


/*facebook*/


/*telegram*/

#telegram {
    right: 8%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#telegram img {
    width: 7em;
    height: auto;
}


/*telegram*/


/*email*/

.email {
    right: 8%;
    left: 8%;
    padding: 5%;
    margin: 22% 0% 0% 0%;
    border-radius: 10px;
    position: absolute;
    background-color: ffffff;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

.email p {
    font-size: 1.7em;
}


/*buttobn*/

#entrada {
    width: 95%;
    height: 2em;
    border-style: solid;
    border-color: #d1d1d1;
    border-radius: 3px;
}

#enviar {
    margin: 1em 20em 0em 29em;
    border: none;
    width: 15%;
    height: 3em;
    border-radius: 1px;
    font-size: 1.2em;
    color: white;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

#enviar:hover {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

#enviar:active {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}


/*button*/