* {
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

* a {
    text-decoration: none;
    color: black;
}


/*gerrral*/

header {
    width: 100%;
    background-color: #0F2027;
    height: 4em;
    color: white;
}

header h2 {
    position: absolute;
    margin: 0em 0 0 3em;
    padding: 0.7em 0 0 0;
}

header nav {
    margin: 0 6em 0em 50em;
}

header li {
    display: inline-block;
    font-size: 1em;
    margin: 1.2em;
}

header a {
    color: rgb(216, 216, 216);
}

header a:hover {
    text-decoration: underline;
}


/*fechou header*/

main img {
    height: 300px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
    display: inline-block;
}

main h3 {
    display: inline-block;
    position: absolute;
    margin: 1em;
}

main p {
    display: inline-block;
    position: absolute;
    margin: 3em 0 0 1em;
}

footer {
    height: 40vh;
    background-color: #091216;
    padding: 1.4em;
}

footer ul {
    list-style: none;
    display: inline-block;
    margin: 0 20em 0 0;
    font-size: 17px;
}

footer li {
    padding: 1em;
    margin: 1em;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    color: white;
    margin: 1.5em;
}