* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
}


/*gerral*/

header {
    width: 100%;
    background-color: #0F2027;
    height: 4em;
    color: white;
}

header h2 {
    position: absolute;
    margin: 0em 0 0 3em;
    padding: 0.7em 0 0 0;
}

header nav {
    margin: 0 6em 0em 50em;
}

header li {
    display: inline-block;
    font-size: 1em;
    margin: 1.2em;
}

header a {
    color: rgb(216, 216, 216);
}

header a:hover {
    text-decoration: underline;
}


/*main*/

main {
    height: 100vh;
    background-color: white;
}

#background {
    position: absolute;
    overflow: hidden;
    top: 15%;
    right: 32%;
    padding-bottom: 1em;
    left: 32%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
    ;
}

#background h1 {
    color: #202020;
    text-align: center;
    margin: 0.5em
}


/*rpidez*/

#tpro {
    color: #202020;
    margin-left: 1em;
}

#novsim {
    margin: 0.5em 0em 1em 1em;
    padding: 0em 0em 0em 10em;
    cursor: pointer;
}

#novnao {
    margin: 0.5em 0em 1em 1em;
    padding: 0em 0em 0em 10em;
    cursor: pointer;
}


/*descrição*/

#tdesc {
    color: #202020;
    margin-left: 1em;
}

#desc {
    width: 90%;
    margin-left: 1em;
    color: rgb(104, 104, 104);
    font-size: 1.4em;
    border-style: solid;
    border-color: #d1d1d1;
}

#sats {
    margin: 0em 0em 0em 1em;
    color: #202020;
}

#imagemzada {
    margin: 0em 0em 0em 1em;
}

p {
    color: red;
}


/*footer*/

footer {
    height: 40vh;
    background-color: #091216;
    padding: 1.4em;
}

footer ul {
    list-style: none;
    display: inline-block;
    margin: 0 20em 0 0;
    font-size: 17px;
}

footer li {
    padding: 1em;
    margin: 1em;
}

footer a {
    color: white;
}

,
footer a:hover {
    text-decoration: underline;
}

footer p {
    color: white;
    margin: 1.5em;
}