        /*GERAL*/
        
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        /*HEADER*/
        
        header {
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 8);
            position: relative;
        }
        
        .imgfundo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 50%;
            filter: drop-shadow(2px 4px 8px #6d6d6d);
        }
        
        .titulo {
            position: absolute;
            top: 15%;
            right: 10%;
            left: 15%;
        }
        
        .titulo fieldset {
            border-radius: 5px;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 7%;
        }
        
        .titulo h1 {
            color: white;
            font-size: 4em;
        }
        
        .titulo button {
            color: #fff;
            font-size: 1.2em;
            background: #141E30;
            background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
            background: linear-gradient(to bottom, #243B55, #141E30);
            margin-top: 2%;
            padding-top: 1em;
            padding-right: 2em;
            padding-bottom: 1em;
            padding-left: 2em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .titulo button:hover {
            background: #141E30;
            background: -webkit-linear-gradient(to top, #243B55, #141E30) background: linear-gradient(to top, #243B55, #141E30);
        }
        /*backgroud*/
        
        #opacidade {
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 8);
            position: relative;
        }
        /*Redes sociais*/
        
        #redes_sociais {
            position: absolute;
            right: 1%;
            top: 10%;
            width: 45%;
        }
        
        #redes_sociais fieldset {
            border-radius: 5px;
            border-style: double;
        }
        
        #redes_sociais h2 {
            text-align: center;
            margin: 2%;
            padding: 1% 4%;
            color: white;
        }
        
        #redes_sociais img {
            width: 80px;
            height: auto;
        }
        
        .box {
            display: inline-block;
            padding: 1% 0% 1% 0%;
            padding-left: 10%;
        }
        /*beneficios*/
        
        #Beneficios {
            position: absolute;
            color: #fff;
            text-align: center;
            top: 13%;
            width: 250px;
            line-height: 30px;
            height: 30px;
            border-radius: 4px;
        }
        
        #Beneficios li {
            font size: 1.5em;
        }