* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 8);
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.titulo {
    position: absolute;
    top: 15%;
    right: 12%;
    left: 12%;
}

.titulo fieldset {
    border-radius: 5px;
    padding: 5em 4em 5em 4em;
}

.titulo h1 {
    font-size: 4em;
    color: white;
}

.titulo button {
    padding: 1em 2em 1em 2em;
    margin: 1em 1em 0em 0em;
    border-radius: 5px;
    font-size: 1.3em;
    border: none;
    color: white;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

.titulo button:hover {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

.titulo button:active {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}


/*backroof*/

.backroof {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    padding-bottom: 0em;
}

.backroof h2 {
    margin: 1.6em;
    text-align: center;
}


/*whatsapp*/

#whatsapp {
    left: 8%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#whatsapp img {
    width: 7em;
    height: auto;
}


/*backroof*/


/*whatsapp*/


/*instagram*/

#instagram {
    left: 30%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#instagram img {
    width: 7em;
    height: auto;
}


/*instagram*/


/*facebook*/

#facebook {
    right: 30%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#facebook img {
    width: 7em;
    height: auto;
}


/*facebook*/


/*telegram*/

#telegram {
    right: 8%;
    padding: 3em 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

#telegram img {
    width: 7em;
    height: auto;
}


/*telegram*/


/*email*/

.email {
    right: 8%;
    left: 8%;
    padding: 2% 0% 0% 2%;
    margin: 22% 0% 0% 0%;
    border-radius: 10px;
    position: absolute;
    background-color: ffffff;
    box-shadow: 0px 0px 25px 2px #d1d1d1;
}

.email p {
    font-size: 1.7em;
    color: #202020;
}

#entrada {
    width: 95%;
    font-size: 2em;
    color: rgb(104, 104, 104);
    border-style: solid;
    border-color: #d1d1d1;
    border-radius: 3px;
}


/*buttobn*/

#enviar {
    margin: 1em 24em 1em 24em;
    padding: 0.7em 1.4em;
    border-radius: 2px;
    font-size: 1.2em;
    border: none;
    color: white;
    text-align: top;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

#enviar:hover {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

#enviar:active {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}


/*button*/


/*back2*/

#background2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}


/*Inscrção*/

#inscriçao {
    position: absolute;
    overflow: hidden;
    top: 5%;
    right: 31%;
    bottom: 5%;
    left: 31%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px rgba(20, 20, 20, 0.7);
}

#inscriçao h1 {
    color: #202020;
    text-align: center;
    margin: 0.5em
}


/*horario*/

#tempo {
    color: #202020;
    margin-left: 1em;
}

#horario {
    height: 1.6em;
    margin: 0 0 0.5em 2em;
    color: rgb(104, 104, 104);
    border-style: solid;
    border-color: #d1d1d1;
}


/*contato*/

#contato {
    color: #202020;
    margin-left: 1em;
}

#telefone {
    width: 90%;
    margin: 0 0 0.5em 1em;
    color: rgb(104, 104, 104);
    font-size: 1.6em;
    border-style: solid;
    border-color: #d1d1d1;
}


/*email*/

#tmail {
    color: #202020;
    margin-left: 1em;
}

#email {
    width: 90%;
    margin-left: 1em;
    color: rgb(104, 104, 104);
    font-size: 1.6em;
    border-style: solid;
    border-color: #d1d1d1;
    margin: 0 0 0.5em 1em;
}


/*novidades*/

#nov {
    margin: 0em 0em 0em 1em;
    color: #202020;
}

#nov label {
    padding: 1em;
}

#novsim {
    margin: 0.5em 0em 1em 1em;
    padding: 0em 0em 0em 10em;
    cursor: pointer;
}

#novnao {
    margin: 0.5em 0em 1em 1em;
    padding: 0em 0em 0em 10em;
    cursor: pointer;
}


/*duvidas*/

#tduv {
    color: #202020;
    margin-left: 1em;
}

#duvidas {
    width: 90%;
    margin-left: 1em;
    color: rgb(104, 104, 104);
    font-size: 1.4em;
    border-style: solid;
    border-color: #d1d1d1;
}


/*envio*/

#envio {
    margin: 1em 23em 0em 10em;
    padding: 0.7em 1.4em;
    font-size: 1.2em;
    border: none;
    color: white;
    text-align: top;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

#envio:hover {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

#envio:active {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}


/*footer*/

footer {
    height: 40vh;
    background-color: #091216;
    padding: 1.4em;
}

footer ul {
    list-style: none;
    display: inline-block;
    margin: 0 20em 0 0;
    font-size: 17px;
}

footer li {
    padding: 1em;
    margin: 1em;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    color: white;
    margin: 1.5em;
}